@font-face {
    font-family: 'PlayfairDisplay-Regular';
    src: url(../Fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(../Fonts/Roboto-Regular.ttf);
}